
html {
    scroll-behavior: smooth;
}
body {
    padding: 10px;
    background: rgb(255, 253, 253);
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    }
img {
width: 100%;
text-align: center;
justify-content: center;
animation: adv linear 1s infinite;
}

.img {
width: 100%;
height: 50%;
text-align: center;
}
.twitter {
width:45%;
border-radius: 50%;
}
.email {
width: 20%;
border-radius: 50%;
}
.fb {
width: 40%;
border-radius: 50%;
}

.night {
    background-color: rgb(53, 3, 53);
    color: White;
}

.Pinkwords {
color: white;
background: purple;

padding: 60px;
border-radius: 20px;
}


/*  New School  */
.line {
background-color: rgb(255, 255, 255, 0.2);
border: white 1px solid;
margin: 4px;
}

/* Phase One*/

.PhaseOne {
background-color: rgba(255, 255, 255, 0.1);
margin: 2px;
border: gray 1px solid;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 20px  black;
}
.PhaseOne:hover {
background-color: rgba(255, 255, 255, 0.2);
}

.PhaseTwo {
background-color: rgb(116, 1, 116, 0.7);
padding: 20px;
margin: 2px;
border: white 1px solid;
border-radius: 5px;
box-shadow: 0 0 20px  black;
}
.PhaseTwo:hover {
background-color: rgba(255, 255, 255, 0.7);
}

.PhaseThree {
background-color: rgba(126, 2, 109);
padding: 20px;
margin: 2px;
border: white 1px solid;
border-radius: 5px;
box-shadow: 0 0 20px  black;
}

.PhaseThree:hover {
background-color: rgb(255, 255, 255);
}


.PhaseFour {
background-color: rgb(0, 255, 255, 0.2);
padding: 20px;
margin: 2px;
border-radius: 5px;
box-shadow: 0 0 20px  black;
}

.PhaseFour:hover {
background-color: rgba(2, 134, 134, 0.2);
}

.PhaseFive {
justify-content: space-around;
align-items: center;
background-color: rgb(0, 255, 255, 0.2);
padding: 20px;
margin: 2px;
border-radius: 5px;
box-shadow: 0 0 20px  black;
}

.PhaseFive:hover {
background-color: rgba(2, 134, 134, 0.2);
}

.Start {
background-color: rgb(139, 17, 129);
padding: 10px;
border: white 1px solid;
border-radius: 5px;
}

footer {
margin:10px 0 0 0;
display: flex;
text-align: center;
background-color: white;
}

.flex {
display: flex;
text-align: center;
justify-content:center;
}
.flex div {
margin: 20px 0;
}

.flex div .slogan {
margin: -25px 0px 0px;
margin-bottom: 40px; 
}
.flex div .slogan span {
color: red;
font-size: 40px;
}

.CvA {
background-color: rgba(255, 177, 177, 0.2);
padding: 10px;
margin: 10px;
border: rgb(173, 173, 173) 1px solid;
border-radius: 5px;
display: none;
}

.Cvsub {
background-color: rgba(255, 177, 177, 0.2);
padding: 20px;
margin: 10px;
border-radius: 10px;
width: 70%;
border: rgb(173, 173, 173) 1px solid;
}
.submitYourCvdiv {
background-color: rgba(255, 177, 177, 0.2);
padding: 10px;
margin: 5px;
border: rgb(173, 173, 173) 1px solid;
}
.submitYourCvdivdet {
background-color: rgba(255, 255, 255);
padding: 10px;
margin: 5px;
border: rgb(173, 173, 173) 1px solid;
}

.submitYourCvdivdet summary {
background-color: rgba(255, 177, 177, 0.2);
padding: 10px;
margin: 5px;
border: rgb(173, 173, 173) 1px solid;
}

.social {
justify-content: center;
text-align: center;
}

.socialImage {
display: flex;
justify-content: space-evenly;
text-align: center;
}

@media (max-width: 320px) {
    .CvA {
        margin: 0;
        padding: 3px;
        display: none;
    }
    body {
        margin: 0;
        padding: 2px;
        background: rgb(255, 255, 255);
    }
    .Cvsub {
        padding: 1px;
        margin: 1px;
        width: 95%;
    }
    .submitYourCvdivdet {
        padding: 1px;
        margin: 1px;
        overflow: scroll;
    }
    .twitter {
        width: 55%;
        border-radius: 50%;
    }
    .EduA {
        text-align: center;
        background-color: rgb(0, 0, 255, 0.5);
        color: rgb(255, 255, 255);
        padding: 0px;
        margin: 0px;
        border-radius: 10px;
        display: none;
    }
    .EduB {
        text-align: center;
        background-color: rgb(0, 0, 255,0.5);
        color: rgb(255, 255, 255);
        padding: 0px;
        margin: 0px;
        border-radius: 10px;
        border: 1px solid white;
    }
    .EduD {
        text-align: center;
        background-color: rgb(0, 0, 255,0.5);
        color: rgb(255, 255, 255);
        padding: 0px;
        margin: 0px;
        border-radius: 10px;
        border: 1px solid white;
    }
    .EduE {
        text-align: center;
        background-color: rgb(0, 0, 255,0.5);
        color: rgb(255, 255, 255);
        padding: 0px;
        margin: 0px;
        border-radius: 10px;
        border: 1px solid white;
    }

}


@media (max-width: 375px) {
    .CvA {
        margin: 0;
        padding: 3px;
        display: none;
    }
    body {
        margin: 0;
        padding: 2px;
        background: rgb(255, 255, 255);
    }
    .Cvsub {
        padding: 3px;
        margin: 3px;
        width: 95%;
    }
    .submitYourCvdivdet {
        padding: 3px;
        margin: 1px;
        overflow: scroll;
    }
    .twitter {
        width: 55%;
        border-radius: 50%;
    }
    .EduA {
        text-align: center;
        background-color: rgb(0, 0, 255, 0.5);
        color: rgb(255, 255, 255);
        padding: 0px;
        margin: 0px;
        border-radius: 10px;
        display: none;
    }
    .EduB {
        text-align: center;
        background-color: rgb(0, 0, 255,0.5);
        color: rgb(255, 255, 255);
        padding: 0px;
        margin: 0px;
        border-radius: 10px;
        border: 1px solid white;
    }
    .EduD {
        text-align: center;
        background-color: rgb(0, 0, 255,0.5);
        color: rgb(255, 255, 255);
        padding: 0px;
        margin: 0px;
        border-radius: 10px;
        border: 1px solid white;
    }
    .EduE {
        text-align: center;
        background-color: rgb(0, 0, 255,0.5);
        color: rgb(255, 255, 255);
        padding: 0px;
        margin: 0px;
        border-radius: 10px;
        border: 1px solid white;
    }

}



@media (max-width: 425px) {
    .CvA {
        margin: 2px;
        padding: 6px;
        display: none;
    }
    body {
        margin: 2px;
        padding: 5px;
        background: rgb(255, 255, 255);
    }
    .Cvsub {
        padding: 6px;
        margin: 3px;
        width: 95%;
    }
    .submitYourCvdivdet {
        padding: 3px;
        margin: 1px;
        overflow: scroll;
    }
    .twitter {
        width: 55%;
        border-radius: 50%;
    }
    .EduA {
        text-align: center;
        background-color: rgb(0, 0, 255, 0.5);
        color: rgb(255, 255, 255);
        padding: 1px;
        margin: 1px;
        border-radius: 10px;
        display: none;
    }
    .EduB {
        text-align: center;
        background-color: rgb(0, 0, 255,0.5);
        color: rgb(255, 255, 255);
        padding: 1px;
        margin: 1px;
        border-radius: 10px;
        border: 1px solid white;
    }
    .EduD {
        text-align: center;
        background-color: rgb(0, 0, 255,0.5);
        color: rgb(255, 255, 255);
        padding: 1px;
        margin: 1px;
        border-radius: 10px;
        border: 1px solid white;
    }
    .EduE {
        text-align: center;
        background-color: rgb(0, 0, 255,0.5);
        color: rgb(255, 255, 255);
        padding: 1px;
        margin: 1px;
        border-radius: 10px;
        border: 1px solid white;
    }

}


@media (max-width: 768px) {
    .CvA {
        margin: 2px;
        padding: 6px;
        display: none;
    }
    body {
        margin: 2px;
        padding: 2px;
        background: rgb(255, 255, 255);
    }
    .Cvsub {
        padding: 6px;
        margin: 3px;
        width: 95%;
    }
    .submitYourCvdivdet {
        padding: 3px;
        margin: 1px;
    }
    .twitter {
        width: 55%;
        border-radius: 50%;
    }
    .EduA {
        text-align: center;
        background-color: rgb(0, 0, 255, 0.5);
        color: rgb(255, 255, 255);
        padding: 1px;
        margin: 1px;
        border-radius: 10px;
        display: none;
    }
    .EduB {
        text-align: center;
        background-color: rgb(0, 0, 255,0.5);
        color: rgb(255, 255, 255);
        padding: 1px;
        margin: 1px;
        border-radius: 10px;
        border: 1px solid white;
    }
    .EduD {
        text-align: center;
        background-color: rgb(0, 0, 255,0.5);
        color: rgb(255, 255, 255);
        padding: 1px;
        margin: 1px;
        border-radius: 10px;
        border: 1px solid white;
    }
    .EduE {
        text-align: center;
        background-color: rgb(0, 0, 255,0.5);
        color: rgb(255, 255, 255);
        padding: 1px;
        margin: 1px;
        border-radius: 10px;
        border: 1px solid white;
    }
}

.EduA {
    text-align: center;
    background-color: rgb(0, 0, 255,0.5);
    color: rgb(255, 255, 255);
    padding: 15px;
    margin: 1px;
    border-radius: 10px;
    display: none;
}


.EduB {
    text-align: center;
    background-color: rgb(0, 0, 255,0.5);
    color: rgb(255, 255, 255);
    padding: 15px;
    margin: 1px;
    border-radius: 10px;
    border: 1px solid white;
}


.EduD {
    text-align: center;
    background-color: rgb(0, 0, 255,0.5);
    color: rgb(255, 255, 255);
    padding: 15px;
    margin: 1px;
    border-radius: 10px;
    border: 1px solid white;
}


.EduE {
    text-align: center;
    background-color: rgb(0, 0, 255,0.5);
    color: rgb(255, 255, 255);
    padding: 15px;
    margin: 1px;
    border-radius: 10px;
    border: 1px solid white;
}


.EduF {
    text-align: center;
    background-color: rgb(0, 0, 255,0.5);
    color: rgb(255, 255, 255);
    padding: 20px;
    margin: 1px;
    border-radius: 10px;
    border: 1px solid white;
}


.EduG {
    text-align: center;
    background-color: rgb(0, 0, 255,0.5);
    color: rgb(255, 255, 255);
    padding: 15px;
    margin: 1px;
    border-radius: 10px;
    border: 1px solid white;
}


.EduH {
    text-align: center;
    background-color: rgb(0, 0, 255,0.5);
    color: rgb(255, 255, 255);
    padding: 15px;
    margin: 1px;
    border-radius: 10px;
    border: 1px solid white;
}


.Edu {
    text-align: center;
    background-color: rgb(0, 0, 255,0.5);
    color: rgb(255, 255, 255);
    padding: 15px;
    margin: 1px;
    border-radius: 10px;
    border: 1px solid white;
}


.schoolpaper {
    position: absolute;
    background-color: white;
    left: 1px;
    color: black;
    width: 99%;
}

.line{
    background-color: rgb(59, 238, 68);
}

.red {
    background-color: red;
}

.underline {
    text-decoration: underline;
    color: rgb(231, 52, 171);
}

.Score {
    background-color: green;
    border: none;
    padding: 20px;
    color: white;
    border-radius: 15px;
} 

.headNav {
    margin: 20px;
    display: flex;
    cursor: pointer;
}

.headNav div {
    background-color: rgb(0, 0, 0);
    color: rgb(3, 255, 255);
    border: none;
    width: 30%;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.headNav div:hover {
    background-color: gray;
    transition: .7 ease;
}

#Transport  {
    background-color: rgb(139, 17, 129);
    color: white;
}


#submit {
    padding: 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    transition: .7s;
}

#sub {
    position: fixed;
    text-align: center;
    background-color: rgb(25, 234, 209);
    width: 60%;
    height: fit-content;
    padding: 40px;
    top: 10%;
    left: 20%;
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: .7s;
    display: none;
}

#sub #subClose {
    padding: 10px;
    border-radius: 10px;
    background-color: red;
    color: white;
    border: none;
    transition: .7s;
}

#submit:hover {
    background-color: white;
    color: green;
    border: 2px solid green;
    transition: .7s;
}

#sub #subClose:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    border: 1px solid rgb(255, 0, 0);
    transition: .7s;
}

input {
    margin: 5px;
    padding: 5px;
}

#subTwo {
    text-align: center;
    display: none;
}

#subWhere {
    text-align: center;
}

#subDidYouYes {
    padding: 20px;
    margin: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    transition: .7s;
}

#subDidYouYes:hover {
    background-color: white;
    color: green;
    border: 2px solid green;
    transition: .7s;
}

#subDidYouNo {
    padding: 20px;
    margin: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    transition: .7s;
}

#subDidYouNo:hover {
    background-color: white;
    color: red;
    border: 2px solid red;
    transition: .7s;
}